# Dart/Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
coverage/
.metadata

# Generated Flutter platform shells
android/
linux/
macos/
windows/

# IDE
.idea/
.vscode/
*.iml

# macOS
.DS_Store
